<!-- <h1>Wrist Watch</h1>
 <div class="display">

        <div class="tab">
    
    <table class="table table-striped">
    
      <thead>
    
        <tr>
    
          <th scope="col">Select theme</th>
    
          <th scope="col">ThemeName</th>
    
          <th scope="col">themePrice</th>
    
          <th scope="col">themeDetails</th>
    
         
    
        </tr>
    
      </thead>
    
      <tbody>
    
        <tr *ngFor="let e of theme">
    
          <td><input type="checkbox"></td>
    
          <td>{{e.themeName}}</td>
    
          <td>{{e.themePrice}}</td>
    
          <td>{{e.themeDetails}}</td>
    
    
        </tr>
    
      </tbody>
    
    </table>
    <button routerLink="#" class="form-button" style="float:right">pay now</button>
    </div> -->