<!-- <div class="container">
    <div class="row">
     <div class="col-md-4"></div>
    <div class="col-md-4">
    <form [formGroup]="policyForm" (ngSubmit)="edit()">
    <div>
    <div class="form-group">
    <label for="giftId"><b> </b></label><br>
    <input type="text" formControlName="giftId" id="giftId" class="form-control" placeholder="Enter giftId">
    </div>
     <div class="form-group">
    <label for="giftName"><b> </b></label><br>
    <input type="text" formControlName="giftName" id="giftName" class="form-control" placeholder="Enter  giftName">
     </div>
     <div class="form-group">
    <label for="giftPrice"><b> </b></label><br>
    <input type="text" formControlName="giftPrice" id="giftPrice" class="form-control" placeholder="Enter giftPrice ">
    </div>
    <div class="form-group">
    <label for="giftDetails"><b> </b></label><br>
     <input type="text" formControlName="giftDetails" id="giftDetails" class="form-control" placeholder="Enter giftDetails">
    </div>
    
    <div class=" Add">
    <div class="form-group">
     <button type="submit">update</button>  <button routerLink="/gift">View</button>
     <router-outlet></router-outlet>
     </div>
    </div>
    </div>
     </form>
     </div>
    </div> -->

    
